<%#
# Navigation

This partial is used to display the navigation in Administrate.
By default, the navigation contains navigation links
for all resources in the admin dashboard,
as defined by the routes in the `admin/` namespace
%>

<%= vite_client_tag %>
<%= vite_javascript_tag 'superadmin_pages' %>

<%
  sidebar_icons = {
    accounts: 'icon-building-4-line',
    users: 'icon-user-follow-line',
    platform_apps: 'icon-apps-2-line',
    agent_bots: 'icon-robot-line',
  }
%>

<div class="border-slate-100 border-r w-56 flex-shrink-0 justify-between h-full flex flex-col" role="navigation">
  <div>
    <div class="flex mx-4 mb-4 border-slate-100 border-b py-6">
      <%= link_to image_tag('/brand-assets/logo_thumbnail.svg', alt: 'Tlin Admin Dashboard', class: 'h-10'), super_admin_root_path %>
      <div class="flex flex-col ml-3">
        <div class="text-sm font-bold">Tlin Admin</div>
        <div class="text-[10px] text-slate-500 font-medium uppercase tracking-wider"><%= Chatwoot.config[:version] %></div>
        <div class="text-[10px] text-n-brand mt-0.5 font-bold">Console de Super Admin</div>
      </div>
    </div>

    <ul class="my-4">
      <%= render partial: "nav_item", locals: { icon: 'icon-grid-line', url: super_admin_root_path, label: 'Painel Geral' } %>
      <% Administrate::Namespace.new(namespace).resources.each do |resource| %>
        <% next if ["account_users", "access_tokens", "installation_configs", "dashboard", "devise/sessions", "app_configs", "instance_statuses", "settings", "super_admins", "agents"].include?  resource.resource %>
        <%= render partial: "nav_item", locals: {
            icon: sidebar_icons[resource.resource.to_sym] || 'icon-grid-line',
            url: resource_index_route(resource),
            label: I18n.t("administrate.navigation.#{resource.resource}", default: resource.name.titleize),
          }
        %>

      <% end %>
      <%= render 'settings_menu', open: settings_open? %>
    </ul>
  </div>
  <div>
    <ul class="my-4">
      <%= render partial: "nav_item", locals: { icon: 'icon-mist-fill', url: '/monitoring/sidekiq', label: 'Painel Sidekiq' } %>
      <%= render partial: "nav_item", locals: { icon: 'icon-health-book-line', url: super_admin_instance_status_path, label: 'Saúde do Sistema' } %>
      <%= render partial: "nav_item", locals: { icon: 'icon-dashboard-line', url: '/', label: 'Abrir App Chat' } %>
      <%= render partial: "nav_item", locals: { icon: 'icon-logout-circle-r-line', url: '/super_admin/logout', label: 'Sair' } %>
    </ul>
  </div>
</div>
